# CODEOWNERS
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @github-owner

# Documentation
/docs/   @doc-owner

# Code in the src directory
/src/    @code-owner